.mt-hero{
    background: url('https://cdn.pixabay.com/photo/2017/09/20/22/51/fire-2770120_960_720.jpg');
    > div{
        @include section-space;
        min-height: 400px;
        background-image: linear-gradient(to right, transparentize($mt-primary, 0.3), transparentize($mt-secondary, 0.1));
    }
    .mt-main-search{
        background: transparentize($mt-white, 0.2);
        border-radius: $mt-base-radius * 6 + px;
        padding: $mt-base-space * 6 + px;
        border: 1px solid $mt-white;
        @include shadow-big;
    }
}