.mt-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
}
// .mt-grid-item {
// }

// .mt-section{
//     padding-top: $mt-section-space + px;
// }