// Colors
$mt-white: #F8F9FD;
$mt-primary: #3C31A5;
$mt-secondary: #7339A5;
$mt-night-dark: #1F1B32;

// Border
$mt-base-radius: 5;

// Space
$mt-base-space: 10;
$mt-gutter-space: $mt-base-space * 3;
$mt-section-space: $mt-gutter-space * 3;
$mt-element-space: $mt-base-space * 2;

// Typo
$mt-base-font-size: 16;
$mt-h5: $mt-base-font-size;
$mt-h4: $mt-base-font-size * 1.25;
$mt-h3: $mt-base-font-size * 1.5;
$mt-h2: $mt-base-font-size * 1.75;
$mt-h1: $mt-base-font-size * 4;