@import './var.scss';
@import './mixins.scss';
@import './layout.scss';

// Global
li{
    list-style: none;
}
li + li{
    margin-top: 10px;
}
ul{
    margin: 0;
    padding: 0;
}
::selection{
    color: red;
    background-color: $mt-primary;
}
body{
    background: $mt-white;
}
a{
    text-decoration: none;
}
hr{
    margin: 20px 0;
}
// Typography
html{
    .mt-h1{
        font-size: $mt-h1;
        font-weight: bold;
        text-decoration: none;
        margin-bottom: $mt-base-space * 3 + px;
    }
    .mt-h2{
        font-size: $mt-h2;
        font-weight: bold;
        text-decoration: none;
        margin-bottom: $mt-base-space * 2.5 + px;
    }
    .mt-h3{
        font-size: $mt-h3;
        font-weight: bold;
        text-decoration: none;
        margin-bottom: $mt-base-space * 2.5 + px;
    }
    .mt-h4{
        font-size: $mt-h4;
        font-weight: bold;
        text-decoration: none;
        margin-bottom: $mt-base-space * 2 + px;
    }
    .mt-h5{
        font-size: $mt-h5;
        font-weight: bold;
        text-decoration: none;
        margin-bottom: $mt-base-space * 2 + px;
    }
}
// Images

// Tables

// Position spesific

// Modules & Elements
.mt-element, .mt-module{
    margin: ($mt-base-space * 2px) 0;
}

// Bootstrap
.card-header{
    font-size: $mt-h4;
    font-weight: bold;
    background-color: $mt-primary;
    color: $mt-white;
}
.badge + .badge{
    margin-left: 10px;
}
.card{
    padding: 20px;
}
.list-group-item{
    // padding: 20px 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
// Helpers

// Utilites